.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}
.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(280px, max-content)); cria o maximo de colunas que da, definindo que as conlunas tem no min 280px e o maximo do conteudo que poderia ter  */
  gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens h2 {
    padding-bottom: 20px;
  }
  .vantagens ul {
    grid-template-columns: 1fr;
  }
  .vantagens ul li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
  }
  .vantagens ul li p {
    grid-column: 1/-1;
  }
  .vantagens ul li img {
    max-width: 28px;
  }
}
